<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1 class="main_header">Find That Email</h1><br/>

        <center>
        <p><em>Enter a name and a domain.</em></p>
        <br>
        </center>

        <%= render 'form' %>

    </div>
  </div>
</div>