/* Super useful guide to selectors: http://www.w3.org/TR/CSS2/selector.html */

/***** General CSS *****/
h1, h2, h3 {
    &.main_header { /* Matches h1.main_header, h2.main_header, h3.main_header */
    text-align: center;
    }
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
/***** end General CSS *****/

input.btn-primary {
    font-size: 1.5em;
}

/***** Add New Listing Popup CSS *****/
.popupBackground{  
display:none;  
position:fixed;
height:100%;  
width:100%;  
top:0;  
left:0;  
background:#000000;  
z-index:1;  
}
.popup{  
display:none;
position:fixed;
height:270px;
width:600px;
background:#dddddd;
border:2px solid #999999;
z-index:2;
padding:12px;
}
/***** end Add New Listing Popup CSS *****/

