<!DOCTYPE html>
<html lang="en">
    
    <%= render 'layouts/header' %> <!-- This is a 'partial - tells Rails to include a file called _header.html.erb in the layouts directory -->

  <body>

    <%= render 'layouts/navigation' %>

    <div class="container"><!-- learn about making this fluid at some point, that may be the right way to do it -->
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1 class="main_header">Email Finder</h1><br/>

            <%= yield %>

          </div>
        </div>
      </div>

    </div> <!-- /container -->
</body></html>